h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
}

html {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}

.page {
  margin: 0 auto;
  max-width: 880px;
}

.main {
  display: block;
}

.fix {
  overflow: hidden;
}

.form__input:invalid {
  border-bottom: 1px solid red;
}

.form__input:valid {
  border-bottom: 1px solid green;
}
