.popup {
  display: none;
  position: fixed;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup_opened {
  display: flex;
}

.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 34px 36px 36px 36px;
  border-radius: 10px;
  width: 360px;
}

.popup__button-close {
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-color: initial;
  background-size: 100%;
  cursor: pointer;
  border: none;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -29px;
  right: -23px;
}

.popup__button-close:hover {
  opacity: 0.6;
}

.popup__title {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 54px;
}

.popup__input {
  border: none;
  border-bottom: 2px solid rgb(181 177 177);
  margin-bottom: 30px;
  width: 100%;
  padding-bottom: 10px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.popup_input-url {
  margin-bottom: 50px;
}

.popup__input_type_about {
  margin-bottom: 48px;
}

.popup__button-save {
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 14px;
}

.popup__button-save:hover {
  opacity: 0.6;
}

.popup__image-view {
  max-width: 50%;
  position: relative;
}

#popup-close-image {
  top: 275px;
  right: 325px;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__container {
    padding: 25px 22px;
    width: 282px;
    margin: 0 19px;
  }
  .popup__button-close {
    width: 18px;
    height: 18px;
    right: 0;
  }
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
  .popup__input_type_about {
    margin-bottom: 45px;
  }
  .popup__button-save {
    padding: 13px;
  }
}
