.profile {
  display: flex;
  margin: 35px 0 50px;
}

.profile__image-container {
  width: 120px;
  height: 120px;
}

.profile__image {
  width: 100%;
  border-radius: 50%;
}

.profile__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 16px;
}

.profile__edit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 65%;
  margin: 16px;
}

.profile__edit-container {
  display: flex;
  align-items: center;
}

.profile__add-button {
  background-image: url(../images/Add_Button.svg);
  background-repeat: no-repeat;
  background-color: #000;
  border: 0;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__edit-button {
  background-image: url(../images/Edit_Button.svg);
  background-repeat: no-repeat;
  background-color: #000;
  border: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0 0 9px 18px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
