.header {
  display: flex;
  justify-content: flex-start;
  height: 74px;
  border-bottom: thin solid #545454;
  padding-bottom: 41px;
}

.header__logo {
  margin-top: 45px;
  width: 173px;
  height: 33px;
}

.fix {
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-bottom: 32px;
  }

  .header__logo {
    margin: 28px 27px 0;
    width: 126px;
    height: 24px;
  }
}
