@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

h1,
h2,
h3,
p {
  margin: 0;
}

html {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}

.page {
  margin: 0 auto;
  max-width: 880px;
}

.header {
  display: flex;
  justify-content: flex-start;
  height: 74px;
  border-bottom: thin solid #545454;
  padding-bottom: 41px;
}

.header__logo {
  margin-top: 45px;
  width: 173px;
  height: 33px;
}

.main {
  display: block;
}

.profile {
  display: flex;
  margin: 35px 0 50px;
}

.profile__image-container {
  width: 120px;
  height: 120px;
}

.profile__image {
  width: 100%;
  border-radius: 50%;
}

.profile__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 16px;
}

.profile__edit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 65%;
  margin: 16px;
}

.profile__edit-container {
  display: flex;
  align-items: center;
}

.profile__add-button {
  background-image: url(../images/Add_Button.svg);
  background-repeat: no-repeat;
  background-color: #000;
  border: 0;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin: auto;
}

.profile__edit-button {
  background-image: url(../images/Edit_Button.svg);
  background-repeat: no-repeat;
  background-color: #000;
  border: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0 0 9px 18px;
}

.elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 17px;
}

.elements__card {
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.elements__image {
  width: 282px;
}

.elements__info {
  width: 246px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.elements__title {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}

.elements__like-button {
  background-image: url(../images/like_button.svg);
  background-repeat: no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
  cursor: pointer;
  margin-top: 6px;
}

.footer {
  color: #545454;
  width: 318px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 67px 0 60px;
}
